header {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1000;
}

header .container {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu {
   height: 90%;
   width: 95%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header span {
    color: black;
    transition: var(--transition);
}

.titulo {
    font-size: 25px;
}

.titulo:hover span {
    color: var(--red);
}

header .titulo::before {
    content: '';
    display: inline-block;

    width: 40px;
    height: 40px;

    background-image: url('../assets/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    height: 100%;
    width: 70%;
}

.links a:hover:not(.entrar) {
    color: #c079d8;
}

.btn-entrar {
    background-color: #D52636;
    width: 8%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}

.btn-entrar:hover {
    background-color:#eb5461;
}

.btn-entrar a {
    color: white;
}

a {
    text-decoration: none;
    color: #20062A;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s;
}